---
import Layout from '../layouts/Layout.astro';
import ArticleCard from '../components/ArticleCard.astro';
import {Article, Author, Topic, Keyword, Source} from '../models';
import Dropdown from '../components/Dropdown.astro';
import SortButton from '../components/SortButton.astro';
import Searchbar from '../components/Searchbar.astro';

const articles : Article[] = [
  new Article(
    0,
    'Welcome to Astro',
    'A quick guide to getting started with Astro',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet condimentum mauris, quis ornare ante. Nam a volutpat enim, id suscipit ligula. Aenean sed volutpat metus. Nunc aliquet, erat in suscipit commodo, nisl elit pellentesque diam',
    'https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png',
    new Date(),
    new Source(
      0,
      'Astro Blog',
      'https://astro.build/blog',
    ),
    [new Topic(0, 'Astro')],
    [new Keyword(0, 'Astro'), new Keyword(1, 'Lorem'), new Keyword(2, 'Getting Started'), new Keyword(3, 'mauris')],
    new Author(
      0,
      'Astro',
      'https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png',
    ),
  ),
  new Article(
    0,
    'Welcome to Astro',
    'A quick guide to getting started with Astro',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet condimentum mauris, quis ornare ante. Nam a volutpat enim, id suscipit ligula. Aenean sed volutpat metus. Nunc aliquet, erat in suscipit commodo, nisl elit pellentesque diam',
    'https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png',
    new Date(),
    new Source(
      0,
      'Astro Blog',
      'https://astro.build/blog',
    ),
    [new Topic(0, 'Astro')],
    [new Keyword(0, 'Astro'), new Keyword(1, 'Lorem'), new Keyword(2, 'Getting Started'), new Keyword(3, 'mauris')],
    new Author(
      0,
      'Astro',
      'https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png',
    ),
  ),
  new Article(
    0,
    'Welcome to Astro',
    'A quick guide to getting started with Astro',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet condimentum mauris, quis ornare ante. Nam a volutpat enim, id suscipit ligula. Aenean sed volutpat metus. Nunc aliquet, erat in suscipit commodo, nisl elit pellentesque diam',
    'https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png',
    new Date(),
    new Source(
      0,
      'Astro Blog',
      'https://astro.build/blog',
    ),
    [new Topic(0, 'Astro')],
    [new Keyword(0, 'Astro'), new Keyword(1, 'Lorem'), new Keyword(2, 'Getting Started'), new Keyword(3, 'mauris')],
    new Author(
      0,
      'Astro',
      'https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png',
    ),
  ),
  new Article(
    0,
    'Welcome to Astro',
    'A quick guide to getting started with Astro',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet condimentum mauris, quis ornare ante. Nam a volutpat enim, id suscipit ligula. Aenean sed volutpat metus. Nunc aliquet, erat in suscipit commodo, nisl elit pellentesque diam',
    'https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png',
    new Date(),
    new Source(
      0,
      'Astro Blog',
      'https://astro.build/blog',
    ),
    [new Topic(0, 'Astro')],
    [new Keyword(0, 'Astro'), new Keyword(1, 'Lorem'), new Keyword(2, 'Getting Started'), new Keyword(3, 'mauris')],
    new Author(
      0,
      'Astro',
      'https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png',
    ),
  ),
  new Article(
    0,
    'Welcome to Astro',
    'A quick guide to getting started with Astro',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet condimentum mauris, quis ornare ante. Nam a volutpat enim, id suscipit ligula. Aenean sed volutpat metus. Nunc aliquet, erat in suscipit commodo, nisl elit pellentesque diam',
    'https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png',
    new Date(),
    new Source(
      0,
      'Astro Blog',
      'https://astro.build/blog',
    ),
    [new Topic(0, 'Astro')],
    [new Keyword(0, 'Astro'), new Keyword(1, 'Lorem'), new Keyword(2, 'Getting Started'), new Keyword(3, 'mauris')],
    new Author(
      0,
      'Astro',
      'https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png',
    ),
  ),
];

const selectedState = 'All';
---

<Layout title="NewsNest">
    <main class="flex flex-col items-center justify-center py-[15px] px-[30px] gap-[20px]">
        <div class="block sm:hidden w-full"><Searchbar class="sm:hidden w-full" /></div>
		<div class="inline-flex justify-between items-center w-full  ">
			<Dropdown/>
			<div class="inline-flex gap-[10px] items-center w-fit">
                <div class="hidden sm:block"><Searchbar /></div>
                <SortButton />
            </div>
		</div>
        <ul role="list" class="flex flex-col gap-[15px]">
            {articles.map((article)=> (<ArticleCard article={article} />))}
  		</ul>
	</main>
</Layout>
