---

---

<div id="SearchBar" class='inline-flex items-center bg-white gap-[5px] w-full rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-accent focus:border-accent border border-gray-300'>
    <input
        type="text"
        class="appearance-none rounded-lg w-full rounded-r-none pl-3 py-2 focus:outline-none"
        placeholder="Search..."
    />
    <button class="focus:outline-none pr-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-900 hover:text-accent" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
        </svg>
    </button>
</div>
